body {
		background-color: white;
		background-image: url(../images/bg.jpg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-attachment: fixed;
		background-size: cover;
		font-family: Helvetica, Arial, sans-serif;	
}

/* responsive for mobile: @media screen and max width : 767 px); */

@media screen and max width : 767 px {
	.main {
		width: 90%;

	}
}

/* tablet */

@media screen and (min-width: 768px) and (max-width:1024px) {
	.main {
		width: 748px;
		max-width: none;
	}
}

/* can also do @media print */

.main {
	background-color: rgba(255,255,255,0.75);
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 40px;
	box-shadow: 0 0 10px 5px rgba(255,255,255,0.7);
}

/* box shadow values: horizontal, vertical, blur, size, colour */

h1 {
	text-align: center;
	font-size: 50px;
	font-family: 'Quicksand', sans-serif;

}

/* fonts.google.com a good source of fonts */

h2 {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 40px;
	font-family: 'Quicksand', sans-serif;
}

h3 { 
	margin-bottom: 0; 
}

h3 + * {
	display: none; /* ie anything that comes after h3 make it invisible */
}

h3:hover {
	cursor: pointer;
}

/* Don't repeat yourself DRY */

/* Image centering */

img {
	display: block;
	margin: 0 auto;
	border: 15px dotted salmon;
	border-radius: 200px 0;
	transition: all 500ms;
}
img:hover {
	border-radius: 0 200px;
}

p,
ul,
ol {
	line-height: 1.6;	
	list-style: none;
	padding-left: 0;
}

a {
	color: magenta;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}
